%h1
  Hi <a href="http://twitter.com/mklappstuhl" class="me" alt="shameless plug :)">I'm Martin</a>. I built this little tool
  for you to have your dotfiles whereever
  and whenever you want them.
%p
  Enter the url of your dotfiles repository on Github here and you'll get some
  straight-foward command to setup your dotfiles on any unix system you like!
%form#github_info{:action => "/setup_username", :method => "post", :name => "setup_form"}
  %input#github_clone_url{:name => "github_clone_url", :placeholder => "git@github.com:you/dotfiles.git", :type => "text", :size => "33"}
    %button{:type => "submit"}
      Show me!
#copyfield

