!!!
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/ [if (gte IE 9)|!(IE)]><!
%html{:lang => "en"}
  / <![endif]
  %head
    / Basic Page Needs
    %meta{:charset => "utf-8"}
    %title configure — setup your configuration on new machines with ease
    / Mobile Specific Metas
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}
    / CSS
    %link{:href => "/assets/application.css", :rel => "stylesheet"}
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / Favicons
    %link{:href => "images/favicon.ico", :rel => "shortcut icon"}
    %link{:href => "http://fonts.googleapis.com/css?family=PT+Sans:400,700", :rel => "stylesheet", :type => "text/css"}
    :javascript
      (function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?  g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.identify people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]); mixpanel.init("76f9a94da2446ba5893bd2067b5d444d");

  %body
    .container
      = yield
      .swag
        %a{:href => "https://github.com/mklappstuhl/configure", :class => "gitforked-button gitforked-forks gitforked-watchers"} Fork
        %span.icon-twitter

    %script{:src => "/assets/jq.js"}
    %script{:src => "/assets/app.js"}
    %script{:src => "http://gitforked.com/api/1.1/button.js"}

