@import 'normalize';
@import 'bourbon/bourbon';

$links: #0868D3;
$links-hover: #076FE4;
$highlight: hsl(212, 94%, 76%);
$white: hsla(0, 0%, 95%, 1);

html {
  @include background-image(url("/assets/background.jpg"));
  @include background-size(100%);
  font-family: 'PT Sans', Helvetica, sans-serif;
  color: #404040
}

body {
  margin: 0;
}

.container {
  padding: 20px;
  background: white;
  width: 400px;
  margin: 70px auto 0 auto;
  @include box-shadow(0 0 50px 0 hsla(0, 0%, 45%, 0.65));
}
.swag {
  margin-top: 20px;
}

#copyfield{
  display: none;
  .error {
    padding: 5px 10px;
    background: tint(red, 90%);
  }
}

h1 {
  margin-top: 0;
}

button {
  @include button;
}

input[type="text"] {
  padding: 6px;
  border: 1px solid #ccc;
  font-family: monospace;
  @include box-shadow(inset 1px 1px 1px 0 hsla(0, 0%, 85%, 0.65));
}

.command {
  font-family: monospace;
  white-space:nowrap;
  color: $white;
  font-weight: bold;
  border: 1px solid $highlight;
  text-shadow: 1px 1px 1px $highlight;
  background-color: $links-hover;
  margin-left: -3em;
  padding: 12px;
  display:table;
  @include box-shadow(4px 4px 1px 0 hsla(0, 0%, 5%, 0.25));
  // ::selection {
  //   color: $links;
  //   background: $highlight
  // }
}

table {
  border: 1px solid #ccc;
  padding: 5px;
  width: 100%;
  th {
    text-align:left;
  }
}

a {
  color: $links;
  border-bottom: 1px solid $links;
  text-decoration: none;
  &:hover{
    color: $links-hover;
  }
}
